node_modules
package-lock.json

# Output
.output
.vercel
/.svelte-kit
# /build - commented out to allow pushing build folder for GitHub Pages

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
